<div class="page-title text-center"><p>Créer un guide - étape 2</p></div>
<div class="guide text-center padding-bottom-20">
  <h3 class="padding-bottom-20">Informations du guide</h3>
  <strong><p>Titre du guide:</p></strong>
  <%= @guide.title.capitalize %>
  <% if @guide.subtitle != "" %>
    <p>Sous titre du guide</p>
    <%= @guide.subtitle.capitalize %>
  <% end %>
</div>

<div class="module-banner">
  <div class="module-banner-content">
    <div class="document-module">

      <% if @guide.documents.count >= 1 %>
        <% @guide.documents.each do |document| %>
        <div class="document-module-instance box-shadow margin-top-30">
          <p><strong>Titre du document:</strong> <%= document.title.capitalize %></strong></p>
          <p><strong>Description du document:</strong> <%= document.description %></strong></p>
          <p><strong>Fichier: </strong><%= document.file.filename %></strong></p>
        </div>
        <% end %>
      <% end %>

      <div class="document-module-button box-shadow margin-top-30">
        <h3 class="padding-bottom-20">Module document</h3>
        <button type="button" class="main-cta" id="document-creation">Ajouter un document</button>
      </div>

      <div class="document-module-form box-shadow margin-top-30">
        <h3 class="padding-bottom-20">Creation d'un document</h3>
        <%= simple_form_for([@document]) do |f|%>
          <p>Titre</p>
          <%= f.input :title, label: false %>
          <p>description</p>
          <%= f.input :description, label: false %>
          <%= hidden_field_tag(:guide, @guide.id) %>
          <%= f.input :file %>
          <%= f.input :file_cache, as: :hidden %>
          <%= f.button :submit, 'Créer Document', class: "main-cta" %>
        <% end %>
      </div>

      <div class="document-modules">

      </div>
    </div>

    <div id="texts">
      <% if @guide.texts.any? %>
        <% @guide.texts.each do |text|%>
          <div class="text-modules box-shadow margin-top-30">
            <p><strong><%= text.title.capitalize %></strong></p>
            <p><%= text.paragraph %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="text-module-form box-shadow margin-top-30 margin-bottom-30">
      <h3>Création d'un texte</h3>
      <div class="padding-bottom-20">
      <%= simple_form_for([@text]) do |f|%>
        <p>Titre</p>
        <%= f.input :title, label: false %>
        <p>Paragraphe</p>
        <%= f.input :paragraph, label: false %>
        <%= hidden_field_tag(:guide, @guide.id) %>
      </div>
        <%= f.button :submit, 'Créer texte', class: "main-cta" %>
      <% end %>
    </div>
    <div class="padding-top-20 text-center">
      <%= link_to "Voir le guide", guide_path(@guide), class: 'blue-cta' %>
    </div>

  </div>
</div>

<% content_for(:after_js) do %>
    <script>

      var path = window.location.pathname

      if(path != "/documents") {
        $( ".document-module-form" ).hide();
        $( "#document-creation" ).click(function() {
          $( ".document-module-button" ).hide();
          $( ".document-module-form" ).show();
        });
      }
      else {
      	$( ".document-module-form" ).show();
      }

      $("#texts").sortable();
    </script>
<% end %>
