<div class="guide">
  <%= @guide.title %>
</div>

<div class="document-module">
  <div class="document-module-button">

  </div>
  <h3>Creation d'un document</h3>
  <div class="document-module-form">
    <%= simple_form_for([@document]) do |f|%>
      <p>Titre</p>
      <%= f.input :title, label: false %>
      <p>description</p>
      <%= f.input :description, label: false %>
      <%= hidden_field_tag(:guide, @guide.id) %>
      <%= f.input :file %>
      <%= f.input :file_cache, as: :hidden %>
      <%= f.button :submit, 'Créer Document' %>
    <% end %>
  </div>
  <div class="document-modules">

  </div>
</div>

<div class="text-modules">
  <% if @guide.texts.any? %>
    <% @guide.texts.each do |text|%>
    <p>
      <%= text.title %>
      <%= text.paragraph %>
    </p>
    <% end %>
  <% end %>
</div>
<h3>Création d'un texte</h3>
<div class="text-module-form">
  <%= simple_form_for([@text]) do |f|%>
    <p>Titre</p>
    <%= f.input :title, label: false %>
    <p>Paragraphe</p>
    <%= f.input :paragraph, label: false %>
    <%= hidden_field_tag(:guide, @guide.id) %>
    <%= f.button :submit, 'Créer texte' %>
  <% end %>
</div>

<%= link_to "Voir le guide", guide_path(@guide), class: 'btn btn-primary' %>
